h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 1rem 0;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
}

table {
    border-collapse: separate;
    border-spacing: 1.6em 1em;
    margin-bottom: 1em;
}

th {
    white-space: nowrap;
}

td {
    vertical-align: top;
}

code {
    color: royalblue;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid dodgerblue;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

img {
    max-width:100%;
    max-height:100%;
    border: 1px solid lightgrey;
}
