body {
  min-height: 100vh;
}

.navbar {
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.footer {
  background-color: whitesmoke;
}

a.footer-link {
  text-decoration: none;
  color: cornflowerblue;
}
