.card {
    margin: 20px 0px;
}

.field-error {
    color: red;
}

.vis-box {
    overflow-x: auto;
}

label.bold-label {
    font-weight: bold;
}

label.left-label {
    text-align: right;
}

.container-fluid {
    width: 90%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font: 16px monospace;
    background: lemonchiffon;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
