body {
  min-height: 100vh;
}

.navbar {
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.card-body p {
  margin: 0.5rem 0;
}

.footer {
  background-color: whitesmoke;
  margin-top: 40px;
}

a.footer-link {
  text-decoration: none;
  color: cornflowerblue;
}
