{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ptm-mapper.css') }}">
{% endblock %}

{% block content %}
{% import '_macros.html' as macros %}
<div class="container">
    <div class="card border-primary">
        <div class="card-body">
            {{ card_content }}
        </div>
    </div>
    {{ macros.render_form(
        form,
        action_url='/',
        action_text='Visualise',
        btn_class='btn btn-outline-primary',
        btn_id='visualise',
        enctype='multipart/form-data') }}
</div>
<div class="container-fluid">
    {% if context %}
    <div class="card">
        <div class="card-body">
            <div class="container">
                {% if hasFileUpload %}
                <div class="form-group row">
                    {{ macros.drawing_option_section_label('Visualisation')}}
                    {{ macros.drawing_option_form_label('Type')}}
                    <div class="col-sm-6 btn-group btn-group-toggle" data-toggle="buttons" id="vis-type">
                        <label class="btn btn-outline-secondary active">
                            <input type="radio" name="option" autocomplete="off" class="vis-option"
                            id="vis-type-heatmap" value="heatmap" checked> Heatmap
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input type="radio" name="option" autocomplete="off" class="vis-option"
                            id="vis-type-lollipop" value="lollipop"> Lollipop
                        </label>
                    </div>
                </div>
                {% endif %}
                <div class="form-group row">
                    {{ macros.drawing_option_section_label('Image scale')}}
                    {{ macros.drawing_option_form_label('Zoom percentage')}}
                    {{ macros.drawing_option_input_field('number', 'zoom-percent', '100')}}
                    {{ macros.drawing_option_form_label('Tick distance')}}
                    {{ macros.drawing_option_input_field('number', 'tick-step', '500')}}
                </div>
                {% if hasFileUpload %}
                <div class="form-group row">
                    {{ macros.drawing_option_section_label('Heatmap')}}
                    {{ macros.drawing_option_form_label('Minimum')}}
                    {{ macros.drawing_option_input_field('number', 'heatmap-range-min', '-3')}}
                    {{ macros.drawing_option_form_label('Maximum')}}
                    {{ macros.drawing_option_input_field('number', 'heatmap-range-max', '3')}}
                </div>
                <div class="form-group row">
                    {{ macros.drawing_option_section_label()}}
                    {{ macros.drawing_option_form_label('Colour scheme')}}
                    <div class="col-sm-6">
                        <select class="form-control vis-option selectpicker" id="heatmap-interpolator"></select>
                    </div>
                </div>
                <div class="form-group row">
                    {{ macros.drawing_option_section_label('Lollipop')}}
                    {{ macros.drawing_option_form_label('Scale height')}}
                    {{ macros.drawing_option_input_field('number', 'lollipop-scale', '100')}}
                    {{ macros.drawing_option_form_label('Tick distance')}}
                    {{ macros.drawing_option_input_field('number', 'lollipop-axis-tick-step', '1')}}
                </div>
                <div class="form-group row">
                    {{ macros.drawing_option_section_label('')}}
                    {{ macros.drawing_option_form_label('Colour')}}
                    <div class="col-sm-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input vis-option" id="lollipop-colour-by-value">
                            <label class="custom-control-label" for="lollipop-colour-by-value">Colour markup by up or down regulation</label>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="dropdown">
                    <button
                    class="btn btn-primary dropdown-toggle float-right" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download
                    </button>
                    <div class="dropdown-menu" aria-labelledby="downloadMenuButton">
                        <a class="dropdown-item" id="download-png-white">PNG (white)</a>
                        <a class="dropdown-item" id="download-png-transparent">PNG (transparent)</a>
                        <a class="dropdown-item" id="download-svg">SVG</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vis-box"></div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.btn#visualise').on('click', function() {
        var $this = $(this);
        var loadingText = 'Loading...';
        if ($(this).html() !== loadingText) {
            $this.data('original-text', $(this).html());
            $this.html(loadingText);
        }
        setTimeout(function() {
            $this.button('reset');
        }, 10000);
    });
</script>
{% if context %}
    <script>
        const hasFileUpload = {% if hasFileUpload %} true {% else %} false {% endif %};
        const context = JSON.parse('{{ context | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3-legend.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/saveSvgAsPng.js') }}"></script>

    <script src="{{ url_for('static', filename='js/protein.js') }}"></script>
    <script src="{{ url_for('static', filename='js/protein-builder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-options.js') }}"></script>
    <script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualisation.js') }}"></script>
{% endif %}
{% endblock %}
