{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="card border-primary">
    <div class="card-body">
        A searchable list of entry names and accessions is available via
        <a href="https://www.uniprot.org/uniprot/">https://www.uniprot.org/uniprot/</a>
    </div>
</div>
{% from '_macros.html' import render_form %}
{{ render_form(
    form,
    action_url='/',
    action_text='Visualise',
    btn_class='btn btn-outline-primary',
    btn_id='visualise',
    enctype='multipart/form-data') }}
{% if context %}
<div class="card">
        <div class="card-body">
            <div class="">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label bold-label">Heatmap range</label>
                    <label class="col-sm-2 col-form-label left-label">Minimum</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="heatmap-range-min" value="-3">
                    </div>
                    <label class="col-sm-2 col-form-label left-label">Maximum</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="heatmap-range-max" value="3">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label bold-label">Heatmap colour</label>
                    <label class="col-sm-2 col-form-label left-label">Colour scheme</label>
                    <div class="col-sm-6">
                        <select class="form-control custom-select" id="heatmap-interpolator"></select>
                    </div>
                </div>
                <div class="dropdown">
                    <button
                    class="btn btn-primary dropdown-toggle float-right" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download
                    </button>
                    <div class="dropdown-menu" aria-labelledby="downloadMenuButton">
                        <a class="dropdown-item" id="downloadAsPDF">PDF</a>
                        <a class="dropdown-item" id="downloadAsPNG">PNG</a>
                        <a class="dropdown-item" id="downloadAsSVG">SVG</a>
                    </div>
                </div>
                <button class="btn btn-primary mx-1 float-right" id="update">Update</button>
            </div>
        </div>
        <div class="vis-box"></div>
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $('.btn#visualise').on('click', function() {
        var $this = $(this);
        var loadingText = 'Loading...';
        if ($(this).html() !== loadingText) {
            $this.data('original-text', $(this).html());
            $this.html(loadingText);
        }
        setTimeout(function() {
            $this.button('reset');
        }, 10_000);
    });
</script>
{% if context %}
    <script>
        var context = JSON.parse('{{ context | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3-legend.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualisation.js') }}"></script>
{% endif %}
{% endblock %}
