{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ptm-mapper.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-primary">
        <div class="card-body">
            {{ card_content }}
        </div>
    </div>
    {% from '_macros.html' import render_form %}
    {{ render_form(
        form,
        action_url='/',
        action_text='Visualise',
        btn_class='btn btn-outline-primary',
        btn_id='visualise',
        enctype='multipart/form-data') }}
</div>
<div class="container-fluid">
    {% if context %}
    <div class="card">
        <div class="card-body">
            <div class="container">
                {% if hasFileUpload %}
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label bold-label">Visualisation</label>
                    <label class="col-sm-2 col-form-label left-label">Type</label>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="vis-type">
                            <label class="btn btn-outline-secondary active">
                                <input type="radio" name="option" autocomplete="off"
                                id="vis-type-heatmap" value="heatmap" checked> Heatmap
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="option" autocomplete="off"
                                id="vis-type-lollipop" value="lollipop"> Lollipop
                            </label>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label bold-label">Image scale</label>
                    <label class="col-sm-2 col-form-label left-label">Zoom percentage</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="zoom-percent" value="100">
                    </div>
                    <label class="col-sm-2 col-form-label left-label">Tick distance</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="tick-step" value="500">
                    </div>
                </div>
                {% if hasFileUpload %}
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label bold-label">Heatmap</label>
                    <label class="col-sm-2 col-form-label left-label">Minimum</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="heatmap-range-min" value="-3">
                    </div>
                    <label class="col-sm-2 col-form-label left-label">Maximum</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="heatmap-range-max" value="3">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label bold-label"></label>
                    <label class="col-sm-2 col-form-label left-label">Colour scheme</label>
                    <div class="col-sm-6">
                        <select class="form-control selectpicker" id="heatmap-interpolator"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label bold-label">Lollipop</label>
                    <label class="col-sm-2 col-form-label left-label">Colour</label>
                    <div class="col-sm-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="lollipop-colour-by-value">
                            <label class="custom-control-label" for="lollipop-colour-by-value">Colour markup by up or down regulation</label>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="dropdown">
                    <button
                    class="btn btn-primary dropdown-toggle float-right" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download
                    </button>
                    <div class="dropdown-menu" aria-labelledby="downloadMenuButton">
                        <a class="dropdown-item" id="download-png-white">PNG (white)</a>
                        <a class="dropdown-item" id="download-png-transparent">PNG (transparent)</a>
                        <a class="dropdown-item" id="download-svg">SVG</a>
                    </div>
                </div>
                <button class="btn btn-primary mx-1 float-right" id="update">Update</button>
            </div>
        </div>
        <div class="vis-box"></div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.btn#visualise').on('click', function() {
        var $this = $(this);
        var loadingText = 'Loading...';
        if ($(this).html() !== loadingText) {
            $this.data('original-text', $(this).html());
            $this.html(loadingText);
        }
        setTimeout(function() {
            $this.button('reset');
        }, 10000);
    });
</script>
{% if context %}
    <script>
        const hasFileUpload = {% if hasFileUpload %} true {% else %} false {% endif %};
        const context = JSON.parse('{{ context | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3-legend.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/saveSvgAsPng.js') }}"></script>

    <script src="{{ url_for('static', filename='js/protein.js') }}"></script>
    <script src="{{ url_for('static', filename='js/protein-builder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-options.js') }}"></script>
    <script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualisation.js') }}"></script>
{% endif %}
{% endblock %}
