<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}
    {% endblock %}
    <title>PTM VisQuant</title>
</head>
<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">PTM VisQuant</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('how_to') }}">HOW TO</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="flex-fill">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container text-muted text-center py-3">
            Copyright 2019 &copy; Children’s Medical Research Institute |
            <a class="footer-link" href="/license">License & Disclaimer</a> |
            <a class="footer-link" href="https://github.com/ChildrensMedicalResearchInstitute/ptm-visquant">GitHub</a>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
